.ProductItemFull {
  height: 150px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(117, 117, 117);
  gap: 10px;
}

.ProductItemFull__title {
  text-align: center;
}

.ProductItemFull__img {
  height: 100px;
  border-radius: 10px;
}

.ProductItemFull__heading {
  position: relative;
}

.ProductItemFull__close-btn {
  position: absolute;
  top: 0;
  right: 10px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(208, 39, 39);
  color: white;
  cursor: pointer;
}
